@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
}

header {
    background-color: #1a1a1a;
    color: white;
    padding: 20px 40px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

pre {
  white-space: pre-wrap;
  font-family: 'Roboto', sans-serif;
  font: 12px;
  margin: 0px;
  padding: 0px; 
}

nav {
    background-color: #333;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-wrap: nowrap;
    font-weight: bold;
    padding: 10px;
}

section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: auto;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    gap: 10px;
    align-items: self-start;
    margin-bottom: 40px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project-grid .project-grid-item:nth-child(5),
.project-grid .project-grid-item:nth-child(6) {
    grid-column: span 2;
}

iframe {
    width: 100%;
    height: 100%;
    max-height: 540px;
    max-width: 640px;
}
.project-video {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-image {
    max-width: 100%;
    border-radius: 8px;
}

.project-details h3 {
    margin: 0 0 10px 0;
    color: #333;
}

.project-details p.date {
  margin: 0;
  padding: 0;    
}

#contact a, .project-details a {
    color: #007BFF;
    text-decoration: none;
}

#contact p {
  padding-left: 20px;
}

p img {
  height: 20px;
  width: 20px;
}


footer {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  text-align: center;
}


/* Responsive grid for smaller screens */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: 1fr;
    }

    .project-details h3,
    .project-details p {
        margin: 10px 0;
    }
}